.form-label{
  font-weight: bold;
  font-size: 1.5rem;
}
.tables {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px
}

.fileinput {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.form-select {
  width: 20%;
}


.eanviewertable {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
}
.btn-dark {
  margin-top:  20px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0d7af;
  text-align: center;
}

.flashes {
  color:rgb(255, 0, 0);  
  } 

  
  .form-group {
    padding: 10px; 
}

.card > offcanvas-body {
  margin-top: 100px; 
}


/* Set the background image and opacity of the pseudo-element */
/*
div::before {
  content: "";
  background-image: url(logo.jpeg);
  opacity: 0.03;
  background-color: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Make the pseudo-element cover the entire parent element */
/*
div::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Make sure the pseudo-element is behind the content */
/* */
div::before {
  z-index: -1;
}

.card-body {
  background-color: rgb(238, 240, 230);
  align-items: center;
  justify-content: center;
}

.card-group{
  width: 70%;

}
