.form-label{
  font-weight: bold;
  font-size: 1.5rem;
}
.warehousetable {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px
}
.fileinput {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.form-select {
  width: 20%;
}


.eanviewertable {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
}
.btn-dark {
  margin-top:  20px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0d7af;
  text-align: center;
}

.flashes {
  color:rgb(255, 0, 0);  
  } 

/* Create a pseudo-element with an empty content */
div::before {
  content: "";
}

/* Set the background image and opacity of the pseudo-element */
div::before {
  background-image: url(logo.jpeg);
  opacity: 0.03;
}

/* Make the pseudo-element cover the entire parent element */
div::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Make sure the pseudo-element is behind the content */
div::before {
  z-index: -1;
}

div::before {
  background-position: center center;
}
div::before {
  background-repeat: no-repeat;
}