{% extends "layout.html" %}

{% block title %}
    Database
{% endblock %}

{% block main %}

<h1>DATABASE</h1>


<form action="/database" method="post">
<div class="btn-group" role="group" aria-label="Basic radio toggle button group">

    <button class="btn btn-dark" type="submit" name="submit_button" id = "komody" data-type = "KOMODY" value = "komody">Komody</button>

    <button class="btn btn-dark" type="submit" name="submit_button" id = "niskie" data-type = "NISKIE" value = "niskie">Łóżka niskie</button>

    <button class="btn btn-dark" type="submit" name="submit_button" id = "wysokie" data-type = "WYSOKIE" value = "wysokie">Łóżka wysokie</button>

    <button class="btn btn-dark" type="submit" name="submit_button" id = "szafki" data-type = "SZAFKI" value = "szafki">Szafki</button>
</div>
</form>

<div class="tables">
  <table id="data" class="table table-sm table-bordered table-hover ">
      <thead>
          <tr class="table-dark table-hover">
          <th scope="col">Index</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Size</th>
          <th scope="col">Color</th>
          <th scope="col">Wood</th>
          <th scope="col">EAN</th>
          <th scope="col">Symbol</th>
          <th scope="col">Price</th>
          <th scope="col">Pack I</th>
          <th scope="col">Pack II</th>
          <th scope="col">Pack III</th>
          <th scope="col">GENERATE BARCODE</th>
          </tr>
      </thead>
      <tbody>
          {% for dict_item in database %}
          <tr class="table-light table-hover">
              <td>{{ dict_item['index'] }}</td>
              <td>{{ dict_item['Nazwa w sklepie'] }}</td>
              <td>{{ dict_item['Nazwa kategorii'] }}</td>
              <td>{{ dict_item['Wymiary'] }}</td>
              <td>{{ dict_item['Kolor drewna'] }}</td>
              <td>{{ dict_item['Rodzaj drewna'] }}</td>
              <td>{{ dict_item['Kod EAN'] }}</td>
              <td>{{ dict_item['Symbol'] }}</td>
              <td>{{ dict_item['Cena zakupu bez stelaża [netto]'] }} PLN</td>
              <td>{{ dict_item['Paczka I'] }}</td>
              <td>{{ dict_item['Paczka II'] }}</td>
              <td>{{ dict_item['Paczka III'] }}</td> 
              <td> 
                
                <form action = "/generatebarcode" method="POST">
                    <input type="submit" value=" {{ dict_item['Kod EAN'] }}" id = "number" name = "number">
                </form>
                <img src = "static/ean-13.jpg">
              </td> 
          </tr> 
          {% endfor %}
          
      </tbody>
      </table>
      {% block scripts %}
      <script>
        $(document).ready(function(){
          $('#data').DataTable();
        });


        let buttons = document.querySelectorAll('button');
        let head = document.querySelector('h1');

        document.addEventListener('DOMContentLoaded', () => {
            let storedValue = localStorage.getItem('h1');
            if (storedValue) {
                head.innerHTML = storedValue;
            }

            buttons.forEach(button => {
                button.onclick = () => {
                    let buttonType = button.dataset.type;
                    localStorage.setItem('h1', buttonType);
                    head.innerHTML = buttonType;
                }
            });
        });

      </script>
 
      {% endblock %}
</div>

{% endblock %}