{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="tables">
    <table id="data" class="table table-bordered table-hover ">
        <thead>
            <tr class="table-dark table-hover">
            <th scope="col">Index</th>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Color</th>
            <th scope="col">Type of wood</th>
            <th scope="col">EAN</th>
            <th class="col-sm-1" scope="col">ZD</th>
            <th class="col-sm-4" scope="col">Notes</th>
            <th scope="col">Week</th>
            <th class="col" scope="col">Add order</th>
            </tr>
        </thead>
        <tbody>
                {% for dict_item in eans %}
                <tr class="table-active table-hover">
                    <td>{{ dict_item['index'] }}</td>
                    <td>{{ dict_item['Nazwa w sklepie'] }}</td>
                    <td>{{ dict_item['Wymiary'] }}</td>
                    <td>{{ dict_item['Kolor drewna'] }}</td>
                    <td>{{ dict_item['Rodzaj drewna'] }}</td>
                    <td>{{ dict_item['Kod EAN'] }}</td>

                    <form action="/addorder" method="POST">
                    <div class="form-group">  
                    <td>
                        <input type="text" class="form-control" placeholder="ZD" name="zd" id="zd">
                    </td>

                    <td>                        
                                   
                            <input type="text" class="form-control" placeholder="Notes" name="notes" id="notes">
                            <input type="hidden" id = "ean" name="ean" value="{{ dict_item['Kod EAN'] }}">
                        </div> 
                    </td>

                    <td>          
                                <input type="text" class="form-control" placeholder="Week" name="week" id = "week">                         
                            </div> 
                    </td>
                    <td>
                        <button  type="submit" class="btn btn-primary">Add order</button>
                    </form>
                    </td>
                </tr> 
                {% endfor %}
         </tbody>
            </table>                              
        

        {% block scripts %}
        <script>
          $(document).ready(function(){
            $('#data').DataTable();
          });

        </script>
        {% endblock %}
</div>

{% endblock %}