{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<div class="tables">
    <table id="data" class="table table-bordered table-hover ">
        <thead>
            <tr class="table-dark table-hover">
            <th scope="col">Index</th>
            <th scope="col">Name</th>
            <th scope="col">Size</th>
            <th scope="col">Color</th>
            <th scope="col">Type of wood</th>
            <th scope="col">EAN</th>
            <th class="col-sm-5" scope="col">Notes</th>
            </tr>
        </thead>
        <form action="/addorder" method="POST">
            <tbody>
                {% for dict_item in eans %}
                <tr class="table-active table-hover">
                    <td>{{ dict_item['index'] }}</td>
                    <td>{{ dict_item['Nazwa w sklepie'] }}</td>
                    <td>{{ dict_item['Wymiary'] }}</td>
                    <td>{{ dict_item['Kolor drewna'] }}</td>
                    <td>{{ dict_item['Rodzaj drewna'] }}</td>
                    <td>{{ dict_item['Kod EAN'] }}</td>
                    <td> 
                        <div class="form-group">             
                            <input type="text" class="form-control" placeholder="Notes" name="Notes{{ loop.index }}" id="Notes{{ loop.index }}">
                            <input type="hidden" id = "EAN{{ loop.index }}" name="EAN{{ loop.index }}" value="{{ dict_item['Kod EAN'] }}">
                        </div> 
                    </td>
                </tr> 
                {% endfor %}
            </tbody>
            </table>
            <div class="row justify-content-center my-5">
                <div class="col-lg-3">             
                    <input type="text" class="form-control" placeholder="Week" name="week">
                    <input type="hidden" id = "ean_list" name = "ean_list" value="{{ clean_codes }}">
                </div>                                  
                <button style="width: 20%;" type="submit" class="btn btn-primary">Add orders</button>
            </div>    
        </form>

        {% block scripts %}
        <script>
          $(document).ready(function(){
            $('#data').DataTable();
          });

        </script>
        {% endblock %}
</div>

{% endblock %}