{% extends "layout.html" %}

{% block title %}
    Insert Manualy
{% endblock %}

{% block main %}

<div class="productiontable">
  <table id="data" class="table table-sm table-bordered table-hover ">
      <thead>
          <tr class="table-dark table-hover">
          <th scope="col">ZD</th>
          <th scope="col">P</th>
          <th scope="col">T</th>
          <th scope="col">N</th>
          <th scope="col">S</th>
          <th scope="col">O</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Size</th>
          <th scope="col">Color</th>
          <th scope="col">Wood</th>
          <th scope="col">DELETE</th>
          </tr>
      </thead>
      <tbody>
          {% for dict_item in orders %}
          <tr class="table-light table-hover">
              <td>{{ dict_item['ZD'] }}</td>
              <form action ="/submit_changes" method="POST">
              <input type="hidden" id = "production_week" name = "production_week" value="{{ dict_item['week'] }}">
              <td><input class="form-check-input" type="checkbox" name = "P" value="1" id="P"></td>
              <td><input class="form-check-input" type="checkbox" name = "T" value="1" id="T"></td>
              <td><input class="form-check-input" type="checkbox" name = "N" value="1" id="N"></td>
              <td><input class="form-check-input" type="checkbox" name = "S" value="1" id="S"></td>
              <td><input class="form-check-input" type="checkbox" name = "O" value="1" id="O"></td>
              <button class="btn btn-success" type="submit" name="submit_changes" value = "submit_changes">INSERT</button></td>
              </form>
              <td>{{ dict_item['Nazwa w sklepie'] }}</td>
              <td>{{ dict_item['Nazwa kategorii'] }}</td>
              <td>{{ dict_item['Wymiary'] }}</td>
              <td>{{ dict_item['Kolor drewna'] }}</td>
              <td>{{ dict_item['Rodzaj drewna'] }}</td>
              </form>
              <td>
              <form action="/delete_row" method="post">
                  <input type="hidden" name="indexcode" value="{{ dict_item['Kod EAN'] }}">
                  <button type="submit" class="btn btn-outline-danger">DELETE</button>
              </form>
          </td>
          </tr> 
          

      {% endfor %}
      </tbody>
      </table>
      

     

      
      {% block scripts %}
      <script>
        $(document).ready(function(){
          $('#data').DataTable();
        });

      </script>
      {% endblock %}
</div>

{% endblock %}