{% extends "layout.html" %}

{% block title %}
    Insert Manualy
{% endblock %}

{% block main %}

<div class="productiontable">
  <table id="data" class="table table-sm table-bordered table-hover ">
      <thead>
          <tr class="table-dark table-hover">
          <th scope="col">ZD</th>
          <th scope="col">P</th>
          <th scope="col">T</th>
          <th scope="col">N</th>
          <th scope="col">S</th>
          <th scope="col">O</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Size</th>
          <th scope="col">Color</th>
          <th scope="col">Wood</th>
          </tr>
      </thead>
      <tbody>
          {% for dict_item in orders %}
          <tr class="table-light table-hover">
              <td>{{ dict_item['ZD'] }}</td>
              <form action ="/submit_changes" method="POST">
              <input type="hidden" id = "production_week" name = "production_week" value="{{ dict_item['week'] }}">
              <td><input class="form-check-input" type="checkbox" name="P" value="{{ dict_item['P'] }}" id="P" data-id="{{ dict_item['id'] }}" {% if dict_item['P'] == 1 %}checked{% endif %}></td>
              <td><input class="form-check-input" type="checkbox" name="T" value="{{ dict_item['T'] }}" id="T" data-id="{{ dict_item['id'] }}" {% if dict_item['T'] == 1 %}checked{% endif %}></td>
              <td><input class="form-check-input" type="checkbox" name="N" value="{{ dict_item['N'] }}" id="N" data-id="{{ dict_item['id'] }}" {% if dict_item['N'] == 1 %}checked{% endif %}></td>
              <td><input class="form-check-input" type="checkbox" name="S" value="{{ dict_item['S'] }}" id="S" data-id="{{ dict_item['id'] }}" {% if dict_item['S'] == 1 %}checked{% endif %}></td>
              <td><input class="form-check-input" type="checkbox" name="O" value="{{ dict_item['O'] }}" id="O" data-id="{{ dict_item['id'] }}" {% if dict_item['O'] == 1 %}checked{% endif %}></td>
              </form>
              <td>{{ dict_item['Nazwa w sklepie'] }}</td>
              <td>{{ dict_item['Nazwa kategorii'] }}</td>
              <td>{{ dict_item['Wymiary'] }}</td>
              <td>{{ dict_item['Kolor drewna'] }}</td>
              <td>{{ dict_item['Rodzaj drewna'] }}</td>
              </form>
          </tr> 
          

      {% endfor %}
      <script>
      $(document).ready(function() {
          $('.form-check-input').change(function() {
              var checkbox_id = $(this).data('id');
              var checkbox_status = $(this).is(':checked') ? 1 : 0;
              var checkbox_name = $(this).attr('name');
              $.ajax({
                  url: '/update_checkbox',
                  data: {'id': checkbox_id, 'status': checkbox_status, 'name': checkbox_name},
                  type: 'POST',
                  success: function(response) {
                      console.log(response);
                  },
                  error: function(error) {
                      console.log(error);
                  }
              });
          });
      });
      </script>
      </tbody>
      </table>
      

     

      
      {% block scripts %}
      <script>
        $(document).ready(function(){
          $('#data').DataTable();
        });

      </script>
      {% endblock %}
</div>

{% endblock %}